# Python & Byte-code
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# uv & Virtual Environments
.venv/
venv/
ENV/
env/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment Variables & Secrets
.env
.env.*

# Certificates & Keys
ca.pem
*.pem
*.crt
*.key

# IDEs & OS Files
.vscode/
.idea/
*.swp
*.swo
.DS_Store